/*body {
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}*/
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.pointer {cursor: pointer;}

.bd-radius {
  border-radius: 25px;
}

.text-color{
  color: black
}

.image-size{
  width: 30px;
  height: 30px;
}

/*Phân trang*/
.paging-container {
    margin-top: 10px;
    margin: 0 auto;

    display: flex;
    list-style-type: none;
}
.paging-container__item {
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.active {
    border: 1px solid #0056b3;
}
.previous {
    font-size: 24px;
    font-weight: bold;
}
.next {
    font-size: 24px;
    font-weight: bold;
}
.link {
    border: none;
    outline: none;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}



